:root {
  --brand: #ff2929;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  
}

.top-nav {
  background: rgb(255,255,255);
  background: linear-gradient(354deg, rgba(255,255,255,1) 0%, rgba(135,135,135,1) 0%, rgba(175,175,175,1) 100%);
  padding-top: 5x;
  padding-bottom: 5px;
  color: #090809;
}

.top-nav .nabvar .dropdown-menu {white-space: normal;}


.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-left: 16px;
  color: black;
}

.top nav img, .top-nav span {
  vertical-align: middle;
}

.navbar {
  box-shadow: var(--shadow);
  font-family: "Roboto Mono", monospace;
  background-color: white;
  font-size: large;
  
}

.mynavbar {
background-color: #F8F9FA !important;
}

#pictures {
font-weight: 900;
}
.social-icons a {
  width: 28px;
  height: 28px;
  display: inline-flex;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: #fff;
  color: var(--brand);
}

.navbar .navbar-nav .nav-link {
  color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
  color: var(--brand);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.navbar-brand span {
  font-weight: 700 !important;
  font-family: "Roboto Mono", monospace;
  color: red;    
  background-color: rgba(90, 0, 0, 0);

}



#tiimiliikmed {
  background-color: white;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  align-items: center;
  align-self: center;
  color: black;

}

#avaleht {
  font-family: "Roboto Mono", monospace;
  background: rgb(255,255,255);
  background: linear-gradient(349deg, rgba(255,255,255,1) 0%, rgba(131,0,0,1) 0%, rgba(245,0,0,1) 100%);
  color: rgb(255, 255, 255);
  font-size: large;
}

#teine {
/* font-family: "Roboto Mono", monospace;
background: rgb(255,255,255);
background: linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 100%);color: rgb(255, 255, 255);
font-size: large;
color: black; */
background: rgb(255,255,255);
background: linear-gradient(349deg, rgba(255,255,255,1) 0%, rgba(131,0,0,1) 0%, rgba(245,0,0,1) 100%);
font-family: "Roboto Mono", monospace;
color: #fff;
font-size: large;
}

#esimene {
background: rgb(255,255,255);
background: linear-gradient(349deg, rgba(255,255,255,1) 0%, rgba(131,0,0,1) 0%, rgba(245,0,0,1) 100%);
font-family: "Roboto Mono", monospace;
color: #fff;
font-size: large;
}

#esimene h1 {
font-weight: 1000;
}

#teine h1{
font-weight: 1000 !important;
}


#avaleht h1 {

  color: white;
  font-weight: 900 !important;
  font-size: x-large;
}
.div image{
  height: 50%;
  width: 50%;
  position: relative;
}

#misssioon {
font-family: "Roboto Mono", monospace;
font-size: large;
background-image: url("https://images.pexels.com/photos/6572421/pexels-photo-6572421.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: screen;
background-color: rgba(255, 255, 255, 0.5) !important;
}

.tekstMissioon {
color: rgb(0, 0, 0);
/* -webkit-text-fill-color: transparent; */
-webkit-text-stroke: 1px;
}

footer {
  background: rgb(255,255,255);
  background: linear-gradient(349deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(245,0,0,1) 100%) !important;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
} 

footer .footer-top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
  padding-top: 20px;
}

footer .navbar-brand {
  color: #fff;
}

footer p {
  color: #ADB3B9;
}

footer .social-icons a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-left: 4px;
  margin-right: 4px;
}
.logo {
  position: relative;
  align-self: center;
  align-content: center;
}

#pildid h1 {
font-family: "Roboto Mono", monospace;
  color: red !important;
}

#videod h1 {
  color: black;
}
#uudised h1 {
  color: red;
}

#tiimiliikmed {
background: rgb(255,255,255);
color: black;
font-size: large;
}

#tiimiliikmed h1,h2,h4,h3,h5,h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700 !important;
}
#avaleht h4,h3,h5,h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700 !important;
  color: black;

}

#missioon h1,h2,h4,h3,h5,h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700 !important;
  color: black;
  font-size: xx-large !important;
}
 
/* (B) POSITION CAPTION */
.fullcap {
/* (B1) COVER OVER ENTIRE IMAGE */
position: absolute; top: 0; left: 0;
width: 100%; height: 100%;
background-color: rgba(0, 0, 0, 0.7);

/* (B2) CENTER CONTENT */
display: flex; justify-content: center; align-items: center;
}

/* (C) ONLY SHOW CAPTION ON HOVER */
.fullcap {
visibility: none; opacity: 0;
transition: opacity 0.3s;
}
.fullwrap:hover .fullcap {
visibility: visible; opacity: 1;
}

h6 {
  color: #fff !important;
  font-weight: 800 !important;
  font-size: xx-large !important;
  font-family: "Roboto Mono", monospace;
}


#videod {
  padding-bottom: 50 !important;
  font-family: "Roboto Mono", monospace;
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 0%, rgba(164,164,164,1) 100%);
}

#pildid p{
font-family: "Roboto Mono", monospace;
color: black !important;
}


.autor {
color: black !important;
}
#uudised {
  font-family: "Roboto Mono", monospace; 
}

#uudised a{
font-family: "Roboto Mono", monospace; 
color: black;
text-align: left !important;
font-size: x-large;
}

#uudised a:hover {
color: blue;
}
.lightbox-gallery{background-image: linear-gradient(#f9f9f9, #ffffff);background-repeat: no-repeat;color: #000;overflow-x: hidden}.lightbox-gallery p{color:#fff}.lightbox-gallery h2{font-weight:bold;margin-bottom:40px;padding-top:40px;color:#fff}@media (max-width:767px){.lightbox-gallery h2{margin-bottom:25px;padding-top:25px;font-size:24px}}.lightbox-gallery .intro{font-size:16px;max-width:500px;margin:0 auto 40px}.lightbox-gallery .intro p{margin-bottom:0}.lightbox-gallery .photos{padding-bottom:20px}.lightbox-gallery .item{padding-bottom:30px}


.miikael{
  font-weight: 9000 !important;
}


*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}



.myContainer{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .myContainer{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .myContainer{
    width: 33.33333%;
  }
}

.myContainer .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.myContent {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.myContent .myContent-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.myContent:hover .myContent-overlay{
  opacity: 1;
}

.myContent-image{
  width: 100%;
}

.myContent-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.myContent:hover .myContent-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.myContent-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.myContent-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}



.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding-top: 30%;
  font-size: 20px;
}

#eva:hover + #eva-overlay {
  display: block;
}
/* 
#language-toggle {
  position: relative;
  background: rgb(255,255,255);
  background: linear-gradient(349deg, rgba(255,255,255,1) 0%, rgba(131,0,0,1) 0%, rgba(245,0,0,1) 100%);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  color: #FFFFFF;
  padding: 10px;
  width: 100px;
  height: 100px;
  font-family: "Roboto Mono", monospace !important;
  font-size: small;
}

#language-toggle:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */
#flag {
  position: relative;
   background: rgb(0,255,255);
  /*background: linear-gradient(349deg, rgba(255,255,255,1) 0%, rgba(131,0,0,1) 0%, rgba(245,0,0,1) 100%); */
  box-shadow: 0 8px 9px 0 rgba(0,0,0,0.2), 0 8px 6px 0 rgba(0,0,0,0.19);
  border: none;
  color: #FFFFFF;
  width: 90px;
  height: auto;
  font-family: "Roboto Mono", monospace !important;
  font-size: small;
  cursor: pointer;
}

#flag:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* * The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
background-color: transparent;
width: 500px;
height: 400px;
border: 1px solid #f1f1f1;
perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 0%, rgba(191,191,191,1) 100%);
color: black;
font-size: x-large !important;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;
}

/* Style the back side */
.flip-card-back {
background-color: red;
color: white;
transform: rotateY(180deg);
font-size: large;
}

.flip-card-back h1{
color: black !important;
font-size: x-large !important;
font-weight: 1000;
}

.flip-card-back a{
color: rgb(0, 0, 77) !important;
text-decoration: underline !important;
font-size: large;

}
